hr.styleLine {
	height: 2px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

div.actions {
	padding-left: 12px;
	/*text-align:center;*/
}

div.inline {
	display: inline !important;
}
p.inline {
	display: inline !important;
}